@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .hero-product .img-wrap {
    width: 320px;
    height: 320px;
  }
  .hero-product .img-wrap:before {
    width: 270px;
    height: 270px;
  }
  .hero-product .img-wrap img {
    width: 320px;
  }
  .logo-wrap {
    padding: 30px 10px;
  }
  .popular-product-card-wrapper {
    grid-gap: 15px;
  }
  .popular-product-area .container {
    width: 95%;
  }
  .popular-product-card .popular-product-card-thumbnail {
    height: inherit;
  }
  .offer-box {
    margin: 0px 50px;
    flex-wrap: nowrap;
  }
  .footer-contents p {
    padding: 0px 0px;
  }
}

@media (max-width: 768px) {
  .menu-wrap {
    justify-content: center;
    flex-direction: column;
  }
  .main-menu {
    margin-top: 20px;
  }
  .hero-area {
    padding: 50px 0px;
  }
  .hero-area .row {
    flex-direction: column-reverse;
  }
  .half-column {
    width: 100%;
  }
  .hero-product {
    justify-content: center;
  }
  .hero-contents {
    margin-top: 30px;
  }
  .hero-contents h1 {
    font-size: 34px;
    margin-top: 120px !important;
  }
  .logo-wrap {
    gap: 35px;
    justify-content: center;
  }
  .popular-product-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-product-area .btn-2 {
    text-align: center;
  }
  .offer-box {
    margin: 0px 10px;
  }
  .offer-box {
    padding: 15px 30px;
  }
}

@media (max-width: 576px) {
  .nav-bar {
    display: none;
  }
  .hero-contents h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 120px !important;
  }
  .hero-contents p {
    text-align: center;
  }
  .hero-btn {
    text-align: center;
  }
  .logo-list {
    padding-bottom: 50px;
  }
  .logo-wrap {
    gap: 0px;
  }
  .single-logo {
    text-align: center;
  }
  .single-logo img {
    width: 75%;
  }
  .logo-wrap:before,
  .logo-wrap:after {
    height: 1px;
  }
  .title {
    font-size: 26px;
  }
  .popular-product-area {
    padding-bottom: 50px;
  }
  .popular-product-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .popular-product-area .btn-2 {
    text-align: center;
  }
  .offer-area {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .offer-box {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 40px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .offer-box .offer-img {
    text-align: center;
  }
  .offer-txt-content {
    text-align: center;
  }
  .offer-txt-content p {
    margin: 30px 0px;
  }
}

@media (max-width: 374px) {
  .container {
    width: 97%;
  }
  .hero-product .img-wrap {
    width: 280px;
    height: 280px;
  }
  .hero-product .img-wrap:before {
    width: 220px;
    height: 220px;
  }
  .hero-product .img-wrap img {
    width: 240px;
  }
  .hero-contents h1 {
    font-size: 22px;
  }
  .hero-contents p {
    font-size: 14px;
    margin: 25px 0px;
  }
  .offer-img iframe {
    width: 80%;
    margin-right: 150px;
  }
  .offer-box .offer-img {
    text-align: center;
    width: 240px;
  }
  .offer-box .offer-img img {
    width: 100%;
  }
  .title {
    font-size: 22px;
  }
  .offer-txt-content h2 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 1160px;
  }
  .offer-box {
    margin: 0px 175px;
  }
  .footer-contents p {
    padding: 0;
  }
}
